chat-page {
  display: flex;
  position: relative;
  height: 100%;
}

.flex-basis-30 {
  flex-basis: 30%;
}

.flex-basis-80 {
  flex-basis: 80%;
}

.search-box {
  background-color: #f0f2f5;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline-color: transparent;
}

.search-box:focus {
  transition: all 0.4s ease-in-out;
  outline-color: #cacaca;
}

.avatar {
  position: relative;
  display: inline-block;
}

.avatar_image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
}

.avatar_status {
  width: 20%;
  height: 20%;
  background: #99cc00;
  border: 2px solid white;
  position: absolute;
  bottom: 4%;
  right: 4%;
  border-radius: 100%;
}

.direct_message_text {
  color: #7b7b7b;
}

.direct_message_notification_icon.style {
  font-size: xx-small;
  width: 20px;
  height: 20px;
  background-color: #0097b9;
}

.direct_message_btn {
  background-color: transparent;
  transition: background 0.2s ease-in-out;
}

.direct_message_btn:hover {
  background-color: #f0f2f5;
}

.direct_message_btn.active {
  background-color: #f0f2f5;
}

.direct_message_text {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opacity-7 {
  opacity: 7%;
}

.user_profile_bar {
  border-bottom-left-radius: 50px;
  background-color: #f0f2f5;
  height: 92px;
}

.send_message_container {
  display: inline-flex;
  background-color: white;
}

.send_message_container input {
  background-color: transparent;
  padding: 1rem 0 1rem 1rem;
  border-top: 1px solid rgba(123, 123, 123, 0.6);
  border-bottom: 1px solid rgba(123, 123, 123, 0.6);
  border-left: 1px solid rgba(123, 123, 123, 0.6);
  border-right: none;
  transition: border 0.2s ease-in-out;
}

.send_message_container input:focus {
  background-color: transparent;
  padding: 1rem 0 1rem 1rem;
  outline: none;
  border-top: 1px solid rgba(123, 123, 123, 0.9);
  border-bottom: 1px solid rgba(123, 123, 123, 0.9);
  border-left: 1px solid rgba(123, 123, 123, 0.9);
  border-right: none;
}

.send_message_container input::placeholder {
  color: rgba(123, 123, 123, 0.5);
}

.send_message_container button {
  flex-basis: 10%;
  border: none;
  background-color: #404040d1;
  transition: background 0.2s ease-in-out;
}

.send_message_container button:hover {
  background-color: #404040bc;
}

.chat_messages span {
  font-size: x-small;
  color: rgba(123, 123, 123, 0.8);
  max-width: 40%;
  margin-bottom: 10px;
}

.chat_messages span p {
  max-width: 600px;
  font-size: 16px;
  margin: 0;
  word-wrap: break-word;
}

.chat_messages .friend_message {
  /* text-align: right; */
}

.chat_messages .friend_message p {
  background-color: #0097b2;
  /* text-align: left; */
}

.chat_messages .mine_message p {
  background-color: white;
  color: #7b7b7b;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.chat_message_container {
  background-image: url("../../images/chat_bg.svg");
  background-size: contain;
}

.popup-container {
  z-index: 4;
  cursor: pointer;
}

.popup-container.hidden {
  display: none;
}

.popup {
  background-color: #f0f2f5;
}

.popup-btn {
  /* border: none;
  border-bottom: 0.5px solid black; */
  background-color: #f0f2f5;
  color: black;
  font-weight: 600;
  transition: background 0.1s ease-in-out;
}

.popup-btn:hover {
  background-color: #0097b2;
  color: white;
}

input[name="popup-search-players"] {
  outline: none;
  border: none;
}
