body {
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
  margin-top: 50px;
}

.game-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.primary-btn {
  background-color: #007bff;
  color: white;
}

.secondary-btn {
  background-color: #dc3545;
  color: white;
}

.tournament-btn {
  background-color: #28a745;
  color: white;
}

.status {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.game-screen {
  text-align: center;
  margin-top: 50px;
}

#gameCanvas {
  margin-top: 30px;
  border: 2px solid #000;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
