nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 104px;
    height: 100vh;
    background-color: #404040;
}

.horizontal-line {
    width: 64px;
    height: 2px;
    background-color: #cacaca;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.nav-links {
    margin-bottom: 100px;
}

.logout-button {
    width: 64px;
    height: 64px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
}
